/backAround.class
/close10.class
/diff21.class
/everyNth.class
/frontBack.class
/hasTeen.class
/icyHot.class
/in3050.class
/lastDigit.class
/loneTeen.class
/missingChar.class
/mixStart.class
/monkeyTrouble.class
/nearHundred.class
/or35.class
/parrotTrouble.class
/posNeg.class
/sleepIn.class
/starHi.class
/startOz.class
/stringE.class
