/.metadata/
/endsLy.class
/extraFront.class
/firstHalf.class
/helloName.class
/lastChars.class
/makeOutWord.class
/makeTags.class
/middleThree.class
/nonStart.class
/seeColor.class
/startWord.class
/theEnd.class
/withoutX.class
